<table>
    <tr>
        <td><a href="{{site.baseurl}}/sprint/1/agile">Agile</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/tools">Tools & Equipment</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/learning">Learning Through Mistakes</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/portfolio">Portfolio & Blogging</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/AI">AI Evidence in Work</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/manifesto">Manifesto Evidence</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/theme">Theme, Style, Layout</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/JS">JavaScript Frontend Basics</a></td>
        <td><a href="{{site.baseurl}}/tools/nithika_blog">Nithika's Blog</a></td>
    </tr>
</table>