<table>
    <tr>
        <td>Sprint 1</td>
        <td><a href="{{site.baseurl}}/sprint/1/AI">AI</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/agile">Agile Methodology: A Mermaid-Based Overview and Manifesto Evidence</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/javascript">Javascript</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/manifesto">Manifesto</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/mistakes">Mistakes</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/portfolio-theme">Portfolio Theme</a></td>
        <td><a href="{{site.baseurl}}/sprint/1/tools">Tools+</a></td>
   </tr>
</table>